@font-face {
    font-family: "FuturaDemiC";
    src: url("../fonts/futurademic.eot"); /* IE 9 Compatibility Mode */
    src: url("../fonts/futurademic.eot?#iefix") format("embedded-opentype"),
        /* IE < 9 */ url("../fonts/futurademic.woff2") format("woff2"),
        /* Super Modern Browsers */ url("../fonts/futurademic.woff") format("woff"),
        /* Firefox >= 3.6, any other modern browser */ url("../fonts/futurademic.ttf") format("truetype"),
        /* Safari, Android, iOS */ url("../fonts/futurademic.svg#futurademic") format("svg"); /* Chrome < 4, Legacy iOS */
}
body {
    font-family: "FuturaDemiC";
    position: relative;
    width: 100%;
    overflow-x: hidden;
}
h2 {
    text-align: center;
    font-weight: 600;
    font-size: 5.5vw;
    line-height: 5.2vw;
}
h3 {
    font-weight: 600;
    font-size: 2vw;
    line-height: 3vw;
    text-align: center;
    color: #7e7e7e;
}

::placeholder {
    color: #000;
}
.header,
.footer {
    width: 100%;
    background: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 22vw;
}
.nav {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 1vw 0;
    border-bottom: 1px solid #000;
    outline: none;
}
.header__logo,
.footer__logo,
.header__phone,
.footer__phone {
    width: 15%;
}
.header__icons,
.footer__icons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.icon {
    width: 3vw;
    height: 3vw;
}
.icons__svg {
    width: 100%;
    height: 100%;
}
.icons__svg path {
    transition: 0.5s;
}
.icons__svg:hover path {
    fill: white;
}
.header__number,
.footer__number {
    font-size: 1vw;
    line-height: 1.5vw;
    text-align: right;
    white-space: nowrap; 
}
.header__number:last-child,
.footer__number:last-child {
    color: #fff;
}
.header__title {
    text-align: center;
    font-weight: 600;
    font-size: 7vw;
    line-height: 8.7vw;
    margin-top: 15vw;
}
.header__button {
    display: block;
    margin: 0 auto;
    margin-top: 2.3vw;
    width: 17%;
    height: 5.8vw;
    background: #000000;
    border-radius: 5px;
    border: 1px solid #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.8vw;
    transition: 0.5s;
}
.header__button:hover,
.feedback__button:hover {
    color: #000;
    background: #fff;
    border: #fff;
}
.specialization {
    padding-top: 3.6vw;
    background: #ece8dd;
}
.specialization__our {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    width: 50%;
    margin: 0 auto;
    gap: 2vw 5%;
    padding: 3vw 0 6vw 0;
}
.specialization__block {
    width: 45%;
    padding: 2vw;
    border: 1px solid #a3997f;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 0.3fr 1.7fr;
    grid-template-rows: 0.2fr 1.8fr;
    gap: 1.2vw;
    align-items: center;
    grid-template-areas:
        "block__img block__head"
        "block__text block__text";
}
.block__img {
    grid-area: block__img;
}
.block__img img {
    width: 2.43vw;
    height: 2.43vw;
}
.block__head {
    grid-area: block__head;
    font-weight: 600;
    font-size: 1.74vw;
    line-height: 2vw;
}
.block__text {
    grid-area: block__text;
    font-size: 1.04vw;
    line-height: 1.5vw;
    text-align: justify;
    font-weight: 400;
    opacity: 0.8;
    align-self: start;
}
.portfolio {
    padding-top: 1.7vw;
    background: #8ba8ce;
}
/* Основные стили */
/* Слайдер */
.slick-slider {
    min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
/* Лента слайдов */
.slick-track {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-between;
    padding: 10vw 0;
    align-items: start;
}
.slick-center {
    z-index: 3 !important;
    transition: 1s linear;
    transform: scale(1);
}
/* Конкретный слайдер */
.slider {
    position: relative;
}
.slider__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.slider__item video {
    width: 100%;
    height: 100%;
}
.slider__href {
    color: #000;
    margin-top: 0.3vw;
    font-size: 2vw;
    line-height: 3vw;
    margin-top: 2vw;
}
.footer {
    background: url(../img/footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 1vw;
    padding-bottom: 2.6vw;
}
.footer .nav {
    border-bottom: none;
}
.reservation {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.48);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-block {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    background: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.6vw 10% 5vw;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25), -10px -10px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
.freeCall {
    display: flex;
}
.form__title {
    font-size: 2.8vw;
    line-height: 4.1vw;
}
.form__subtitle {
    color: #ece8dd;
    font-size: 1.4vw;
    line-height: 2vw;
}
.freeCall input {
    background: #8ca9cf;
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    margin-top: 1.5vw;
    font-size: 1vw;
    line-height: 1.6vw;
    text-align: center;
    padding: 0.7vw;
}

.feedback__button {
    width: 60%;
    color: #ece8dd;
    background: #000;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.5s;
    padding: 0.7vw;
    display: block;
    margin: 0 auto;
    margin-top: 2.9vw;
}
#close_reservation{
    position: absolute;
    width: 1.22vw;
    height: 1.22vw;
    background: transparent;
    padding: 0;
    border: none;
    top: 2vw;
    right: 2vw;
}
#close_reservation img{
    width: 100%;
    height: 100%;
}
@media (max-width: 768px) {
    .header{
        height: 100vh;
    }
    .nav{
        width: 95%;
        padding-top: 6vw;
        padding-bottom: 3.5vw;
    }
    .header__logo{
        width: 32%;
        padding-right: 9%;
    }
    .header__icons{
        width: 32%;
    }
    .icon{
        width: 5.33vw;
        height: 5.33vw;
    }
    .header__phone{
        width: 32%;
    }
    .header__number{
        font-size: 2.7vw;
        line-height: 3.5vw;
    }
    .header__title{
        margin-top: 40vw; 
        font-size: 9.6vw;
        line-height: 11.2vw;
    }
    .header__button {
        justify-self: end;
        font-size: 4.8vw;
        line-height: 7.2vw;
        padding: 5vw;
        width: 40%;
        margin-top: 7vw;
    }
    h3{
        font-size: 3.7vw;
        line-height: 5.6vw;
    }
    h2{
        font-size: 9.6vw;
        line-height: 7vw;
    }
    .specialization{
        padding-top: 5.9vw;
    }
    .specialization__our{
        width: 70%;
        margin-top: 13vw;
        padding-bottom: 15vw;
    }
    .specialization__block {
        width: 100%;
        padding: 4vw;
    }
    .block__head {
        font-size: 6.4vw;
        line-height: 6.6vw;
    }
    .block__text {
        font-size: 3.2vw;
        line-height: 4.8vw;
    }
    .portfolio{
        padding-top: 6vw;
    }
    .slick-track{
        padding: 10vw 0 5vw;
    }
    .slick-center{
        transform: scale(1);
    }
    .slider__href{
        font-size: 4.8vw;
        line-height: 7.2vw;
        text-align: center;
    }
    .footer{
        background: #38639A;
        padding: 0;
    }
    .footer__icons,.footer__phone{
        display: none;
    }
    .footer .nav{
        justify-content: center;
        width: 100%;
        padding: 4.5vw 0; 
    }
    .footer__logo{
        width: 20%;
    }
}